@{
    ViewData["Title"] = "Example app";
}
<a class="twitter-link" href="http://twitter.com/home/?status=I just hosted a website on AWS!"><img src="img/tweet.svg" /></a>
<div class="text">
    <h1>Thank You!!!</h1>
    <h1>QnA</h1>
    <h2>By Group 3</h2>
</div>
